/*limpando formatação*/
body{
	margin: 0px;
	padding: 0px;
}
*{
	font-family: lato;
	font-style: normal;
	font-weight: normal;
	color: #333333;
}
/* configurando cabeçalho */
#header{
	display: flex;
	position: fixed;
	height: 60px;
	width: 100%;
	background: #E0E0E0;
	justify-content: center;
}
header{
	display: flex;
	position: fixed;
	height: 60px;
	width: 100%;
	align-items: center;
}
header .logo{
	width: 30px;
	height: 27.63px;
	margin-left: 22px;
}
header h2{
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	width: 100%;
	text-align: center;
}
header .hamburguer{
	width: 24px;
	margin-right: 24px;
	cursor: pointer;
}
header button{
	background: transparent;
	border: none;
}
header input{
	display: none;
}
header input[type=checkbox]:checked ~ nav{
	width: 90%;
}

/* configurando menu de navegação */
nav{
	position: absolute;
	height: 100vh;
	display: flex;
	width: 0;
	background: #333333;
	right: 0;
	top: 0;
	flex-direction: column;
	color: #FFFFFF;
	text-align: right;
}
.div-img{
	width: 100%;
	margin-top: 20px;
}

nav img{
	display: flex;
	width: 16px; 
	margin-left: 20px;
	cursor: pointer;
}
nav button{
	display: flex;
	width: 100%;
	border: none;
	background: transparent;
	color: #FFFFFF;
	padding: 10px;
}
nav button:hover{
	cursor: pointer;
	background: #FFFFFF;
	color: #333333;
}

nav button:nth-child(1){
	margin-top: 90px;
}
/* configurando div com conteúdos (formulário e tabela) */
#content{
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin-top: 80px;
	justify-content: center;
}
/* configurando formulário */
#form{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid #979797;
}
#form h2{
	display: none;
}

.wrapper{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
}
form{
	display: flex;
	max-width: 100%;
	flex-direction: column;
	justify-content: center;
}
form label{
	margin-bottom: 2px;
}
form label, form input, form select{
	width: 100%;
}
form select, form input, form button{
	height: 32px;
}
form select, form input{
	border: 1px solid #979797;
	border-radius: 4px;
}
.first-input, .second-input, .third-input{
	margin:  20px 20px 0px 20px;
}
.button-form{
	max-width: 100%;
	margin-top: 19.78px;
	margin-left: 20px;
	margin-right: 20px;
}
.button-form button{
	width: 100%;
	background: #333333;
	color: #FFFFFF;
}
/* configurando tabela */
#table{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
}
#table h2{
	font-weight: 700;
	font-size: 18px;
	margin-left: 90px;
}
table{
	width: 100%;
	border-collapse: collapse;
}
tr{
	border-bottom: 1px solid #979797;
}
tfoot tr{
	border: none;
}
thead th, tfoot td{
	font-weight: 700;
	padding: 10px 10px;
	font-size: 14px;
}
th:nth-child(1), th:nth-child(2), td:nth-child(1), td:nth-child(2){
	text-align: left;
}
th:nth-child(3),td:nth-child(3){
	text-align: right;
	
}
/* Configurando footer */
footer div{
	display: flex;
	position: fixed;
	width: 100%;
	background: 1px solid #333333;
}
@media screen and (min-width: 768px) and (orientation: portrait){
	/* Configurando display da barra de navegação */
	header input[type=checkbox]:checked ~ nav{
		width: 30%;
	}
	/* configurando formulário */
	#form{
		border: 1px solid #979797;
		padding: 0px 10px;
	}
	#form h2{
		display: block;
		text-align: center;
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 20px;
		width: 100%;	
	}
	.first-input, .second-input, .third-input{
		margin:  0px;	
	}
	.wrapper{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.first-input, .third-input{
		padding: 0px;
		max-width: 35%;
	}
	.second-input{
		max-width: 60%;
		margin: 0px 10px;
	}
	.second-input{
		margin-left: 20px;
		margin-right: 20px;
	}
	.button-form{
		display: flex;
		width:  100%;
		margin-top: 10px;
		margin-bottom: 10px;
		max-width: 100%;
		justify-content: flex-end;
	}
	.button-form button{
		max-width: 28%;
		margin-right: 25px;
	}
	/* configurando tabela */
	table{
		width: 100%;
	}
	#table h2{
		text-align: center;
	}
}
@media screen and (min-width: 1112px)   and (orientation: landscape) { 
	/* configurando cabeçalho */
	header .hamburguer{
		display: none;
	}
	header h2{
		text-align: left;
		margin-left: 10px;
	}
	nav{
		display: initial;
		width: 233px;
		height: 40px;
		background: #FFFFFF;
		text-align: center;
		color: #333333;
		margin-top: 10px;
		margin-right: 10px;
	}
	.div-img{
		display: none;
	}
	.div-button{
		height: 100%;
		display: flex;
		width: 100%;
		flex-direction: row;
	}
	nav button:nth-child(1){
		margin-top: 0px;
		padding: 0px;
		border-right: 1px solid #979797;
	}
	nav button{
		cursor: pointer;
		display: unset;
		background: transparent;
		font-family: lato;
		font-size: 16px;
		font-weight: 600;
		color: #333333;
	}
	/* configurando div com conteúdos (formulário e tabela) */
	#content{
		margin-top: 70px;
		flex-direction: row;
		width: 100%;
	}
	/* configurando formulário */
	#form{
		margin-top: 0px;
		border: 1px solid #979797;
		margin-right: 5px;
	}
	form{
		width: 400px;
	}
	#form, .wrapper{
		flex-direction: column;
		justify-content: center;
		flex-wrap: nowrap;
	}
	#form h2{
		display: block;
		text-align: center;
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 20px;
		width: 100%;	
	}
	.first-input, .second-input, .third-input{
		padding: 0px;
		margin: 0px;
		max-width: 100%;
		margin-top: 10px;
	}
	.button-form{
		justify-content: center;
	}
	.button-form button{
		max-width: 100%;
	}
	/* configurando tabela */	
	#table{
		margin-top: 0px;
	}
	table{
		width: 652px;
	}
	#table h2{
		text-align: center;
	}
	
}
@media screen and (min-width: 1500px)   and (orientation: landscape) {
	/* configurando cabeçalho */
	header{
		width: 75%;
	}
}
